<h1>Posts#index</h1>
<p>Find me in app/views/posts/index.html.erb</p>
<h1>listes des posts</h1>
<hr>
<% @posts.each do |p|%>
<p>
	<h1><%= p.titre %></h1>
	<%= truncate p.commentaire %>...
Crée le : <%= time_ago_in_words p.created_at %> | 
modifié le : <%= time_ago_in_words p.updated_at %>
</p>
<p>
<%= link_to("consulter",p ) %> |<%= link_to("modifier",edit_post_path(p) ) %> |
<%= link_to("supprimer", p , method: :delete, data: {confirm: 'sure?'}) %>
</p>
<hr>

<% end  %>

